body {
  color: #8B0000;
}
body{
background-image: url('https://img.lovepik.com/background/20211021/small/lovepik-new-year-background-image_400957130.jpg'
background-repeat: no-repeat;
background-position: center;
}